@media(min-width:599px) and (max-width:1900px){
    .menu-mobile{
        display: none;
    }
    .btn-abrir-menu{
        display: none;
    }
}


/*media query mobile*/
@media(max-width:600px){
    header{
        font-size: 0.6em;
        
    }
    #bloco{
        display: flex;
        width: 400px;
        margin: 0px 10px;
        margin: 15px auto;
        height: 200px;
        gap: 20px;
        padding-bottom: 15px;
        color: white;  
    }
    #bloco div{
        align-items: center;
        background-color: #202127;
        border-radius: 10px ;
        min-width: 400px;
        max-height: 200px;
    }
    #bloco div h2{
        text-align: center;
        margin-top: 15px;
    }
    #bloco div p{
        padding: 10px;
        font-size: 16px;
    }

    /*menu mobile*/
    header nav#menu-pc{
        display: none;
    }
    .btn-abrir-menu img{
        color: #6201f4;
        height: 40px ;
    }
    .overlay-menu-mobile{
        background-color: rgba(0, 0, 0, 0.719);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
    }
    .menu-mobile{
        background-color: #202127fa;
        height: 100vh;
        font-size: 2em;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
    }
    .menu-mobile.abrindo-menu{
        width: 60%;
        transition: 0.5s;
    }
    .menu-mobile.abrindo-menu ~ .overlay-menu-mobile{
        display: block;
    }
    .menu-mobile ul{
        font-family: Poppins;
        font-weight: bold;
        list-style: none;
        margin-top: 40px;
        text-align: left;
        font-size: 20px;
    }
    .menu-mobile ul .cor{
        color: green;
    }
    .menu-mobile ul li{
        padding: 0 25px;
        margin-bottom: 30px;
    }
    .menu-mobile ul li a{
        text-decoration: none;
        color: white;
        display: block;
    }
    .menu-mobile ul li a:hover{
        background-color: #6201f4;
        padding: 10px;
        border-radius: 10px;
        transition: 0.4s;
    }
  }