@font-face {
  font-family: ablack;
  src: url(aBlackLives.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(Poppins.ttf);
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #1c1d22;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px auto 0px;
  width: 95vw;
}

header > h1 {
  color: white;
  font-family: aBlack;
  font-size: 1.3em;
}

header > nav {
  color: white;
  font-family: ablack;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 1.3em;
}
nav a {
  align-items: center;
  text-decoration: none;
  color: white;
}
header nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
#cor1 {
  color: #d62c58; /* cor do texto dowload do menu*/
}

.sessao-cadastro {
  display: flex;
  align-items: center;
  gap: 5px;
}
#cadastro {
  color: white;
  font-family: ablack;
}
.perfili {
  width: 50px;
}

#jogos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px auto 0px;
  padding-top: 15px;
  gap: 20px;
  width: 95vw;
}
section > div > img {
  width: 250px;
  height: 400px;
  border: #6201f4 solid 5px;
  border-radius: 10px;
}

.quadrado-imagem {
  text-align: center;
  font-family: ablack;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo-jogo-vermelho {
  color: #d62c58;
}

/* CARROSSEL */
.carrossel-imagens {
  overflow-x: auto;
}
#Duvidas {
  color: white;
  font-family: Poppins;
  font-size: 1.5em;
  text-align: center;
  margin-top: 50px;
}
#bloco {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#bloco-de-duvidas {
  display: grid;
  background-color: #29272b;
  width: 600px;
  padding-bottom: 50px;
  color: white;
  font-family: Poppins;
  border-radius: 10px;
}
#subtitulo-do-bloco {
  text-align: center;
  margin-top: 15px;
}
#texto-do-bloco {
  text-align: justify;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Poppins;
}
