@font-face {
  font-family: ablack;
  src: url(aBlackLives.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(Poppins.ttf);
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #1c1d22;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px auto 0px;
  width: 95vw;
}

header > h1 {
  color: white;
  font-family: aBlack;
  font-size: 1.3em;
}

header > nav#menu-pc{
  color: white;
  font-family: ablack;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 1.3em;
}
header nav a{
  align-items: center;
  text-decoration: none;
  color: white;
}
header #menu-pc ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sessao-cadastro {
  display: flex;
  align-items: center;
  gap: 5px;
}
#cadastro {
  color: white;
  font-family: ablack;
}
.perfili {
  width: 50px;
}
#jogos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px auto 0px;
  padding-top: 15px;
  gap: 20px;
  width: 95vw;
}
section > div > img {
  width: 250px;
  height: 400px;
  border: #6201f4 solid 5px;
  border-radius: 10px;
}

.quadrado-imagem {
  text-align: center;
  font-family: ablack;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo-jogo-vermelho {
  color: #d62c58;
}

/* CARROSSEL */
.carrossel-imagens {
  overflow-x: auto;
}
#Duvidas {
  color: white;
  font-family: Poppins;
  font-size: 1.5em;
  text-align: center;
  margin-top: 50px;
}
#bloco div h2{
  font-family: Poppins;
  font-weight: bold;
}
#bloco div p{
  font-family: Poppins;
  font-weight: normal;
}